/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* fundo do conteúdo mobile */
  --foreground: #171717; /* cor do texto */
  --outer-background: #21122a; /* fundo ao redor do conteúdo mobile */
}

body {
  color: var(--foreground);
  background-color: var(--outer-background); /* fundo externo */
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
